/* Header */
header {
    text-align: center;
    font-family: "comic sans ms";
    font-size: 20px;
    padding: 7px;
    opacity: 95%;
    margin: 10px;
    background-color: rgb(17, 124, 143);
    color: white;
    border: 3.5px solid black;
    min-width: 800px;
  }



/* Navigation */
nav {
    background-color: #333;
    padding: 5px;
    padding-left: 7px;
    margin: 10px;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 800px;
  }

  nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: "comic sans ms";

  }

@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}



*{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.image{
    height: 15vh;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}
a:hover{
    color: red; 
}

nav a{
    padding: 10px;
    color: white;
    font-family: "comic sans ms";
}
* {
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}

table{
    font-family: "comic sans ms";
    margin: 10px;
    width: 100%;
    padding: 7px;
   min-width: 810px;
    
    
}
th, td {
    border-bottom: 1px solid rgb(203, 199, 199);
    padding: 20px;
    text-align: center;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    
  }
  thead{
    background-color: #333;
    padding: 7px;
    margin: 10px;
    border: 3px solid black;
    color: white;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
   
  }
  .table__heading{
   font-size: 20px;
  }
  .sub_table_heading{
    font-size: 20px;
  }

  h2{
    text-align: center;
    font-family: "comic sans ms";
    font-size: 20px;
    padding: 7px;
    opacity: 95%;
    margin: 10px;
    background-color: rgb(17, 124, 143);
    color: white;
    border: 3px solid black;
    min-width: 800px;

  }

footer{
    text-align: center;
    font-family: "comic sans ms";
    size: 5px;
    padding-top: 0px;
    min-width: 800px;

}




